openapi: 3.1.0
info:
  title: Harfino API
  version: 1.0.0
  description: Egyptian craftsman marketplace platform API

servers:
  - url: https://api.herafino.com
    description: Production server
  - url: http://localhost:3000/api
    description: Development server

paths:
  /auth/login:
    post:
      summary: Initiate Google OAuth login
      tags: [Auth]
      responses:
        '302':
          description: Redirect to Google OAuth

  /auth/callback/google:
    get:
      summary: Google OAuth callback handler
      tags: [Auth]
      responses:
        '302':
          description: Redirect to appropriate dashboard
        '401':
          description: Authentication failed

  /auth/session:
    get:
      summary: Get current session
      tags: [Auth]
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Session data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'

  /auth/logout:
    post:
      summary: Sign out user
      tags: [Auth]
      responses:
        '200':
          description: Successfully logged out

  /api/craftsmen:
    get:
      summary: Search craftsmen by type and location
      tags: [Craftsman]
      security: [{ bearerAuth: [] }]
      parameters:
        - name: craftType
          in: query
          required: true
          schema: { type: string, enum: [carpenter, plumber, painter, electrician, welder, tiler, ceramicist, whitewasher, hvac, satellite, aluminum] }
        - name: lat
          in: query
          required: true
          schema: { type: string }
        - name: lng
          in: query
          required: true
          schema: { type: string }
        - name: radius
          in: query
          schema: { type: integer, default: 10 }
      responses:
        '200':
          description: List of nearby craftsmen
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/CraftsmanProfile' }

  /api/craftsmen/{id}:
    get:
      summary: Get craftsman profile
      tags: [Craftsman]
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { content: { application/json: { schema: { $ref: '#/components/schemas/CraftsmanProfile' } } } }
        '404': { description: Craftsman not found }

  /api/craftsmen/profile:
    get:
      summary: Get current craftsman profile
      tags: [Craftsmen]
      security: [{ bearerAuth: [] }]
      responses:
        '200': { content: { application/json: { schema: { $ref: '#/components/schemas/CraftsmanProfile' } } } }

  /api/craftsmen/onboarding:
    post:
      summary: Submit craftsman onboarding
      tags: [Craftsmen]
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/OnboardingData' }
      responses:
        '201': { description: Onboarding submitted for approval }
        '400': { description: Validation error }

  /api/craftsmen/availability:
    patch:
      summary: Toggle craftsman availability
      tags: [Craftsmen]
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, properties: { isAvailable: { type: boolean } } }
      responses:
        '200': { description: Availability updated }

  /api/orders:
    get:
      summary: Get user orders
      tags: [Orders]
      security: [{ bearerAuth: [] }]
      parameters:
        - name: status
          in: query
          schema: { type: string, enum: [pending, accepted, in_progress, completed, cancelled] }
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Order' } }
                  pagination: { $ref: '#/components/schemas/Pagination' }

    post:
      summary: Create new order
      tags: [Orders]
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/NewOrder' }
      responses:
        '201': { description: Order created }
        '400': { description: Validation error }
        '404': { description: Craftsman not found }

  /api/orders/{id}:
    get:
      summary: Get order by ID
      tags: [Orders]
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { content: { application/json: { schema: { $ref: '#/components/schemas/Order' } } } }
        '404': { description: Order not found }

  /api/orders/{id}/accept:
    patch:
      summary: Accept order (craftsman only)
      tags: [Orders]
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Order accepted }

  /api/orders/{id}/reject:
    patch:
      summary: Reject order (craftsman only)
      tags: [Orders]
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Order rejected }

  /api/orders/{id}/complete:
    patch:
      summary: Complete order (craftsman only)
      tags: [Orders]
      security: [{ bearerAuth: [] }]
      requestBody:
        content:
          application/json:
            schema: { type: object, properties: { finalPrice: { type: string } } }
      responses:
        '200': { description: Order completed }

  /api/orders/{id}/cancel:
    patch:
      summary: Cancel order (client or craftsman)
      tags: [Orders]
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Order cancelled }

  /api/reviews:
    post:
      summary: Submit review for order
      tags: [Reviews]
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/NewReview' }
      responses:
        '201': { description: Review submitted }
        '400': { description: Invalid rating or duplicate review }

  /api/complaints:
    post:
      summary: File complaint against user
      tags: [Complaints]
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/NewComplaint' }
      responses:
        '201': { description: Complaint filed }

  /api/complaints/{id}/resolve:
    patch:
      summary: Resolve complaint (admin only)
      tags: [Complaints]
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, properties: { action: { type: string, enum: [warning, freeze, permanent_ban] }, notes: { type: string } } }
      responses:
        '200': { description: Complaint resolved }

  /api/location/update:
    post:
      summary: Update craftsman realtime location
      tags: [Location]
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LocationUpdate' }
      responses:
        '200': { description: Location updated }

  /api/webhooks:
    get:
      summary: List webhooks
      tags: [Webhooks]
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/Webhook' } }

    post:
      summary: Create webhook
      tags: [Webhooks]
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/NewWebhook' }
      responses:
        '201': { description: Webhook created }

  /api/webhooks/{id}:
    delete:
      summary: Delete webhook
      tags: [Webhooks]
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Webhook deleted }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Session:
      type: object
      properties:
        userId: { type: string, format: uuid }
        email: { type: string }
        name: { type: string }
        image: { type: string }
        role: { type: string, enum: [client, craftsman, admin, super_admin] }

    User:
      type: object
      properties:
        id: { type: string, format: uuid }
        email: { type: string }
        name: { type: string }
        image: { type: string }
        role: { type: string, enum: [client, craftsman, admin, super_admin] }
        phone: { type: string, nullable: true }
        age: { type: integer, nullable: true }
        createdAt: { type: string, format: date-time }

    CraftsmanProfile:
      type: object
      properties:
        id: { type: string, format: uuid }
        userId: { type: string, format: uuid }
        craftType: { type: string, enum: [carpenter, plumber, painter, electrician, welder, tiler, ceramicist, whitewasher, hvac, satellite, aluminum] }
        experienceYears: { type: integer }
        idCardFrontUrl: { type: string }
        idCardBackUrl: { type: string }
        facePhotoUrl: { type: string }
        transportType: { type: string, enum: [bike, walking, car, minivan] }
        transportPhotos: { type: array, items: { type: string } }
        vehicleNumber: { type: string, nullable: true }
        workshopAddress: { type: string }
        workshopLatitude: { type: string }
        workshopLongitude: { type: string }
        isAvailable: { type: boolean }
        isOnline: { type: boolean }
        status: { type: string, enum: [pending, approved, rejected, frozen] }
        rating: { type: number, nullable: true }
        reviewCount: { type: integer, nullable: true }

    OnboardingData:
      type: object
      required: [craftType, phone, age, experienceYears, idCardFrontUrl, idCardBackUrl, facePhotoUrl, transportType, workshopAddress, workshopLatitude, workshopLongitude]
      properties:
        craftType: { type: string, enum: [carpenter, plumber, painter, electrician, welder, tiler, ceramicist, whitewasher, hvac, satellite, aluminum] }
        phone: { type: string, pattern: '^01[0125][0-9]{8}$' }
        age: { type: integer, minimum: 18, maximum: 80 }
        experienceYears: { type: integer, minimum: 0, maximum: 50 }
        idCardFrontUrl: { type: string, format: uri }
        idCardBackUrl: { type: string, format: uri }
        facePhotoUrl: { type: string, format: uri }
        transportType: { type: string, enum: [bike, walking, car, minivan] }
        vehicleNumber: { type: string, nullable: true }
        transportPhotos: { type: array, items: { type: string } }
        workshopAddress: { type: string, minLength: 10 }
        workshopLatitude: { type: string }
        workshopLongitude: { type: string }

    NewOrder:
      type: object
      required: [craftsmanId, craftType, description, address, latitude, longitude]
      properties:
        craftsmanId: { type: string, format: uuid }
        craftType: { type: string }
        description: { type: string }
        address: { type: string }
        latitude: { type: string }
        longitude: { type: string }
        estimatedPrice: { type: string, nullable: true }

    Order:
      type: object
      properties:
        id: { type: string, format: uuid }
        clientId: { type: string, format: uuid }
        craftsmanId: { type: string, format: uuid, nullable: true }
        craftType: { type: string }
        status: { type: string, enum: [pending, accepted, rejected, in_progress, completed, cancelled] }
        description: { type: string }
        address: { type: string }
        latitude: { type: string }
        longitude: { type: string }
        estimatedPrice: { type: string, nullable: true }
        finalPrice: { type: string, nullable: true }
        scheduledAt: { type: string, format: date-time, nullable: true }
        completedAt: { type: string, format: date-time, nullable: true }
        clientAcceptedFinalPrice: { type: boolean, nullable: true }
        createdAt: { type: string, format: date-time }

    NewReview:
      type: object
      required: [orderId, rating]
      properties:
        orderId: { type: string, format: uuid }
        rating: { type: integer, minimum: 1, maximum: 5 }
        comment: { type: string, maxLength: 500 }

    Review:
      type: object
      properties:
        id: { type: string, format: uuid }
        orderId: { type: string, format: uuid }
        clientId: { type: string, format: uuid }
        craftsmanId: { type: string, format: uuid }
        rating: { type: integer }
        comment: { type: string, nullable: true }
        createdAt: { type: string, format: date-time }

    NewComplaint:
      type: object
      required: [orderId, againstUserId, reason, description]
      properties:
        orderId: { type: string, format: uuid, nullable: true }
        againstUserId: { type: string, format: uuid }
        reason: { type: string, enum: [no_show, bad_service, overpriced, harassment, fraud, other] }
        description: { type: string }
        evidenceUrls: { type: array, items: { type: string } }

    Complaint:
      type: object
      properties:
        id: { type: string, format: uuid }
        orderId: { type: string, format: uuid, nullable: true }
        reporterId: { type: string, format: uuid }
        againstUserId: { type: string, format: uuid }
        reason: { type: string }
        description: { type: string }
        status: { type: string, enum: [pending, investigating, resolved, dismissed] }
        actionTaken: { type: string, enum: [warning, freeze, permanent_ban], nullable: true }
        createdAt: { type: string, format: date-time }

    LocationUpdate:
      type: object
      required: [latitude, longitude]
      properties:
        latitude: { type: string }
        longitude: { type: string }
        isAvailable: { type: boolean }

    Webhook:
      type: object
      properties:
        id: { type: string, format: uuid }
        event: { type: string }
        url: { type: string, format: uri }
        isActive: { type: boolean }
        retryCount: { type: integer }
        lastTriggeredAt: { type: string, format: date-time, nullable: true }

    NewWebhook:
      type: object
      required: [event, url]
      properties:
        event: { type: string }
        url: { type: string, format: uri }

    Pagination:
      type: object
      properties:
        page: { type: integer }
        limit: { type: integer }
        total: { type: integer }
        totalPages: { type: integer }